.contaier {
  max-width: 1280px;
  width: 100%;
  margin: 0 auto;
  padding: 0 0.938em;
}
.column {
  margin-left: -0.938em;
  margin-right: -0.938em;
}
.column .row {
  padding: 0 0.938em;
}

.flexwrap {
  display: flex;
  flex-wrap: wrap;
}
.flexcenter {
  display: flex;
  align-items: center;
  justify-content: center;
}

.flexitem {
  display: flex;
  align-items: center;
}

.flexcol {
  display: flex;
  flex-direction: column;
  gap: 1em;
}
.main-links a:hover {
  color: var(--clr-secondray);
}
.second-links a:hover {
  color: var(--clr-text);
}
.icon-small,
.icon-lerge {
  display: flex;
  align-items: center;
  padding: 0 0.25em;
  font-weight: normal;
}
.icon-small {
  font-size: 1.25em;
  margin: auto;
}
.icon-lerge {
  font-size: 1.75em;
  padding: 0 0.75em 0 0;
}
.mobile-hide {
  display: none;
}
.object-cover img {
  position: absolute;
  object-fit: cover;
  width: var(--percent100);
  height: var(--percent100);
  display: block;
}

.products .media {
  position: relative;
  flex-shrink: 0;
  overflow: hidden;
}
.section {
  margin: 1rem;
}
/* buttons */
.primary-button,
.secondary-button,
.light-button {
  font-size: var(--font-small);
  padding: 0.9em 2em;
  height: auto;
  width: fit-content;
  border-radius: 2em;
  transform: var(--trans-background-color);
}
.primary-button {
  background-color: var(--clr-primari);
  color: var(--clr-white);
}
.primary-button:hover {
  background-color: var(--clr-dark2);
}
.secondary-button {
  background-color: var(--clr-dark2);
  color: var(--clr-white);
}
.secondary-button:hover {
  background-color: var(--clr-bg);
  color: var(--clr-dark2);
}
.light-button {
  background-color: var(--clr-bg);
  color: var(--clr-primari);
}
.light-button:hover {
  background-color: var(--clr-dark1);
  color: var(--clr-white);
}

/* other */
.view-all {
  font-size: var(--font-small);
  display: flex;
  gap: 1em;
  transition: var(--trans-background);
}
.mini-text {
  font-size: var(--font-small);
  color: var(--clr-text);
}
/* responsive */
@media screen and (min-width: 992px) {
  .contaier {
    padding: 0 2em;
  }
  .mobile-hide {
    display: block;
  }
}

/*usd-    <i class="fa-solid fa-dollar-sign"></i> */
/*euro-   <i class="fa-solid fa-euro-sign"></i> */
/*gpu-    <i class="fa-solid fa-sterling-sign"></i> */
/*inr-    <i class="fa-solid fa-indian-rupee-sign"></i> */
