/* .btn {
  display: inline-block;
  padding: 0.5em 1em;
  color: var(--clr-secondray2);
  background-color: var(--clr-primari);
  cursor: pointer;
  border-radius: 50px;
  font-weight: 100;
  text-decoration: none;
  letter-spacing: 0.1rem;
  box-shadow: 7px 5px 6px -14px, 0 6px 6px, 0 0 100px -10px var(--clr-primari);
  transition: 0.2s;
}

.btn:hover {
  transform: translateY(-3px);
  box-shadow: 3px 3px 3.5px -5px, 0 3px 3px, 0 0 100px -10px var(--clr-primar);
}
.btn:active {
  transform: scale(0.97);
  box-shadow: 7px 5px 56px -14px, 0 6px 6px, 0 0 100px -10px var(--clr-primari);
} */

.contaier {
  max-width: 1280px;
  width: 100%;
  margin: 0 auto;
  padding: 0 0.938em;
}
.column {
  margin-left: -0.938em;
  margin-right: -0.938em;
}
.column .row {
  padding: 0 0.938em;
}

.flexwrap {
  display: flex;
  flex-wrap: wrap;
}
.flexcenter {
  display: flex;
  align-items: center;
  justify-content: center;
}

.flexitem {
  display: flex;
  align-items: center;
}

.flexcol {
  display: flex;
  flex-direction: column;
  gap: 1em;
}
.main-links a:hover {
  color: var(--clr-secondray);
}
.second-links a:hover {
  color: var(--clr-text);
}
.icon-small,
.icon-lerge {
  display: flex;
  align-items: center;
  padding: 0 0.25em;
  font-weight: normal;
}
.icon-small {
  font-size: 1.25em;
  margin: auto;
}
.icon-lerge {
  font-size: 1.75em;
  padding: 0 0.75em 0 0;
}
.mobile-hide {
  display: none;
}
.object-cover img {
  position: absolute;
  object-fit: cover;
  width: var(--clr-percent100);
  height: var(--clr-percent100);
  display: block;
}
.products .media {
  position: relative;
  flex-shrink: 0;
  overflow: hidden;
}
/* .section {
  margin: 1rem;
} */

/* responsive */
@media screen and (min-width: 992px) {
  .contaier {
    padding: 0 2em;
  }
  .mobile-hide {
    display: block;
  }
}

/*usd-    <i class="fa-solid fa-dollar-sign"></i> */
/*euro-   <i class="fa-solid fa-euro-sign"></i> */
/*gpu-    <i class="fa-solid fa-sterling-sign"></i> */
/*inr-    <i class="fa-solid fa-indian-rupee-sign"></i> */
